.Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgray;
}


.overlay{
    background-color: rgb(0, 119, 181);
    height: 15vh;
    width: 100%;
}
