.right, .left{
    position: absolute;
    z-index: 25;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    color: black;
    font-size: 44px;
    transition: .4s linear;
}

.right:hover, .left:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

.right i, .left i{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(2%);
}

.right{
    top: 50%;
    right: 0%;
    transform: translate(-10%, -50%);
}

.left{
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%) rotate(180deg);
}