.Proj{
    margin-top: 50px;
}
.Proj h3{
    font-weight: normal;
    margin: 0 auto 100px auto;
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 130%;
}

.buttonWrapper{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goForward{
    margin-left: 50px;
    padding: 0 15px;
    width: 200px;
    border-radius: 50vh;
    box-shadow: 3px 3px 5px 2px gray;
    cursor: pointer;
    transition: .4s ease;
}

.goForward p{
    color: rgb(0, 100, 255);
    font-size: 18px;
}
.goForward:hover{
    background-color: lightgray;
}
.projectsButton a{
    width: 100%;
    color: white;
    text-decoration: none;
}

.projectsButton{
    margin-right: 50px;
    position: relative;
    text-align: center;
    width: 200px;
    border-radius: 50vh;
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    transition: .4s ease;
}

.projectsButton p{
    position: relative;
    z-index: 10;
    transition: .4s ease;
}

.projectsButton{
    background-image: linear-gradient(45deg, rgb(0, 70, 255), rgba(0, 100, 255));
}

.projectsButton::before{
    content: '';
    position: absolute;
    left: -150%;
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: .4s ease;
}

.projectsButton:hover::before{
    left: 0%;
}

.projectsButton:hover{
    box-shadow: 0px 0px 6px 3px gray;
}
