.Summary{
    width: 90%;
}

.list{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

.list li{
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list li img{
    margin: auto;
    width: 50%;
}

.list li p{
    margin: auto;
    width: 40%;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 150%;
}

@media (max-width: 900px){
    .Summary{
        width: 100%;
    }
    .list{
        padding: 50px 0;
    }

    .list li {
        padding: 50px 0;
    }
    .list li p{
        font-size: 22px;
    }
}

@media (max-width: 600px){
    .list li{
        display: flex;
        flex-direction: column;
    }

    .list li img, .list li p{
        margin: 10px auto;
        width: 80%;
    }
}



