.list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
    z-index: 15;
}

.NavLink{
    padding: 0px 20px;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    position: relative;
}

.active{
    color: gray;
}

@media (max-width: 850px){
    .NavLink{
        padding: 0 10px;
        font-size: 16px;
    }
}
