.list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    position: absolute;
    z-index: 15;
}

.NavLink{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    border-radius: 50vh;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
    position: relative;
    transition: .4s linear;
}

.active{
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px){
    .list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .NavLink{
        min-height: 0;
        padding: 8px 10px;
        font-size: 22px;
    }
}
