.Summary{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
    box-shadow: 0px 0px 8px 2px gray;
}

.image{
    position: relative;
    top: 50%;
    margin: auto;
    width: 180px;
    height: 240px;
    background-color: white;
    box-shadow: 0px 0px 3px 1px gray;
}

.background{
    height: 300px;
    background-image: url('../../../resources/img/infinity.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 6px 2px 3px 2px gray;
}
