.wrapper{
    padding-top: 150px;
    box-shadow: 0px -24px 1px -24px black
}

.wrapper h2{
    margin: 30px auto;
    line-height: 150%;
    letter-spacing: 1px;
    font-size: 32px;
    width: 80%;
}

.abilities{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 100%;
}

.abilities ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.abilities ul li{
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: lightgray;
    box-shadow: 4px 6px 6px 2px gray;
    margin: 10px;
    padding: 15px;
}