.intro{
    margin: auto;
    text-align: left;
    width: 80%;
    padding: 20px;
    opacity: 0;
}

.wrapper h2, .shortAbout, .intro ul{
    letter-spacing: 1px;
    line-height: 140%;
}

.wrapper h2{
    font-size: 44px;
    margin: 10px;
    text-align: center;
    font-weight: normal;
}

.shortAbout{
    font-size: 20px;
}

.wrapper{
    margin: auto;
    width: 90%;
    margin-top: 140px;
    padding-bottom: 150px;
}

.wrapper ul{
    padding: 0;
    font-size: 16px;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: gray;
}

.wrapper ul li{
    margin: 5px 0px;
}

.animWrapper{
    position: relative;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

@media (max-width: 800px){
    .intro{
        width: 95%;
        padding: 5px;
    }

    .shortAbout{
        font-size: 16px;
    }

    .wrapper h2{
        font-size: 36px;
        margin: 10px 0;
    }

    .wrapper ul{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 14px;
    }

    .wrapper ul li{
        margin: 5px 0px;
    }
}


