.hobbies{
    padding: 150px 0;
    opacity: 0;
}

.hobbies h2{
    margin: auto;
    width: 80%;
    font-size: 36px;
    font-weight: 600;
}


.hobbies ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}

.hobbies ul li{
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 100px;
    background-color: lightgray;
    box-shadow: 4px 6px 6px 2px gray;
    margin: 10px;
    padding: 15px 25px;
}

.hobbies ul li i{
    width: 50px;
}

.hobbies ul li p{
    text-align: center;
    width: 200px;
}

@media (max-width: 600px){
    .hobbies{
        padding: 100px 0;
    }

    .hobbies h2{
        font-size: 28px;
        margin: auto;
        width: 90%;
    }

    .hobbies ul li{
        font-size: 18px;
        padding: 8px;
    }
}