.textToggle-enter{
    opacity: 0 !important;
    transform: translateY(10%);
}

.textToggle-enter-done{
    transform: translateY(0%);
    opacity: 1 !important;
    transition: all 1s ease;
}

.textToggle-exit{
    opacity: 0 !important;
    transition: opacity 1s;
}

.textToggle-exit-done{
    opacity: 0 !important; 
    transition: opacity 1s;
}

.imgToggle-enter{
    opacity: 0 !important;
    transform: translateX(5%);
}

.imgToggle-enter-done{
    transform: translateX(0%);
    opacity: 1 !important;
    transition: all .6s ease;
}

.imgToggle-exit{
    opacity: 0 !important;
    transition: opacity .6s;
}

.imgToggle-exit-done{
    opacity: 0 !important; 
    transition: opacity .6s;
}

.page-enter{
    opacity: 0 !important;
}

.page-enter-done{
    opacity: 1 !important;
    transition: all .6s ease;
}

.page-exit{
    opacity: 0 !important;
    transition: opacity .6s ease;
}

.page-exit-done{
    opacity: 0 !important; 
    transition: opacity .6s ease;
}

.image-enter{
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 270px;
    height: 240px;
}

.image-enter-done{
    position: fixed !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 540px !important;
    height: 474px !important;
    border: 1px solid black;
    cursor: default !important;
    transition: .6s ease;
}

.image-exit{
    width: 540px !important;
    height: 480px !important;
}

.image-exit-done{
    width: 270px !important;
    height: 240px !important;
    transition: .6s ease;
}

@media (max-width: 800px){
    .image-enter-done{
        width: 305px !important;
        height: 270px !important;
    }
    
    .image-exit{
        width: 305px !important;
        height: 270px !important;
    }
}