.Home{
    background-image: linear-gradient(45deg, rgba(0, 50, 0, 0.7), rgba(30, 0, 0, 0.5)), url('../../resources/img/home_bgc.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper{
    min-height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.Home h2{
    width: 100%;
    font-size: 64px;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
}

.paragraph{
    margin: 50px auto;
    width: 50%;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 150%;
}

.general{
    margin-top: 100px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 1px;
}

.select{
    font-size: 22px;
    width: 45%;
    min-height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.stayButton{
    position: relative;
    margin: 0;
    text-align: center;
    width: 200px;
    border-radius: 50vh;
    padding: 0 15px;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.stayButton p{
    position: relative;
    z-index: 10;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.stayButton{
    background-image: linear-gradient(45deg, rgb(155, 20, 0), rgb(155, 40, 0));
    -webkit-box-shadow: 0px 0px 2px 2px rgb(155, 40, 0);
            box-shadow: 0px 0px 2px 2px rgb(155, 40, 0);
}


.stayButton::before{
    content: '';
    position: absolute;
    left: -150%;
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s ease;
    transition: .4s ease;
}

.stayButton:hover::before{
    left: 0%;
}

.stayButton:hover{
    -webkit-box-shadow: 0px 0px 3px 3px white;
            box-shadow: 0px 0px 3px 3px white;
}


@media (max-width: 1150px){
    .Home h2{
        font-size: 50px;
    }

    .paragraph{
        margin: 20px auto;
        width: 90%;
        font-size: 18px;
    }

    .paragraph p{
        margin: 0;
    }
    
    .select{
        margin: 0 20px;
        font-size: 20px;
        width: 90%;
    }

    .stayButton{
        width: 160px;
        font-weight: normal; 
    }
}

@media (max-width: 600px){
    .Home{
        background-image: linear-gradient(45deg, rgba(0, 50, 0, 0.7), rgba(30, 0, 0, 0.5)), url('../../resources/img/home_mobile.jpg');
    }
    .Home h2{
        margin: 140px auto 10px auto;
        font-size: 34px;
    }

    .paragraph{
        margin: 10px auto;
        font-size: 16px;
    }

    .paragraph p{
        margin: 0;
    }

    .select{
        font-size: 16px;
    }
}



