.toggleWrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 24px;
    width: 20%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
}

.comment{
    font-size: 10px;
}

.toggleWrapper p{
    margin: 0 15px;
    color: white;
}

.toggleWrapper p:hover{
    cursor:pointer;
}

.active{
    text-decoration: underline;
}