.textToggle-enter{
    opacity: 0 !important;
    transform: translateY(10%);
}

.textToggle-enter-done{
    transform: translateY(0%);
    opacity: 1 !important;
    transition: all 1s ease;
}

.textToggle-exit{
    opacity: 0 !important;
    transition: opacity 1s;
}

.textToggle-exit-done{
    opacity: 0 !important; 
    transition: opacity 1s;
}